# Day 2: SQL Fundamentals

In [1]:
import pandas as pd
import mysql.connector

In [4]:
csv_file = r"C:\Users\Dusty\Downloads\Internship\Git_Repo\Customer-Order-Processing-ETL-Pipeline\data\sample_orders.csv"
df = pd.read_csv(csv_file)

# Establish connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",        # Hostname (or IP address)
    user="Suraj",    # MySQL username
    password="root", # MySQL password
    database="sample_orders" # Database name
)
# Create a cursor object
cursor = conn.cursor()

# Create the 'orders' table if it doesn't exist
cursor.execute("""
    CREATE TABLE IF NOT EXISTS orders (
        order_id INT PRIMARY KEY,
        customer_name VARCHAR(255),
        product_name VARCHAR(255),
        quantity INT,
        price DECIMAL(10, 2),
        order_date DATE
    );
""")

# Insert data into MySQL
for _, row in df.iterrows():
    cursor.execute("""
        INSERT INTO orders (order_id, customer_name, product_name, quantity, price, order_date)
        VALUES (%s, %s, %s, %s, %s, %s)
    """, (row['order_id'], row['customer_name'], row['product_name'], row['quantity'], row['price'], row['order_date']))

# Execute a query
cursor.execute("select * from orders;")
rows = cursor.fetchall()

for row in rows:
    print(row)

# Close the connection
conn.commit()
cursor.close()
conn.close()

(1, 'Nicole Evans', 'Laptop', 2, Decimal('948.49'), datetime.date(2024, 3, 28))
(2, 'Selena Neal', 'Headphones', 5, Decimal('713.94'), datetime.date(2024, 3, 12))
(3, 'Andrew Davis', 'Keyboard', 1, Decimal('799.83'), datetime.date(2024, 6, 10))
(4, 'Alex Young', 'Headphones', 5, Decimal('731.78'), datetime.date(2024, 4, 12))
(5, 'Joshua Sosa', 'Headphones', 1, Decimal('465.68'), datetime.date(2024, 10, 25))
(6, 'Anna Case', 'Smartphone', 4, Decimal('920.59'), datetime.date(2024, 10, 5))
(7, 'Pamela Owens', 'Headphones', 2, Decimal('732.83'), datetime.date(2024, 7, 28))
(8, 'Roy Johnson', 'Keyboard', 3, Decimal('321.89'), datetime.date(2024, 8, 6))
(9, 'Joseph Collier', 'Smartphone', 1, Decimal('631.84'), datetime.date(2024, 12, 5))
(10, 'Jason Sexton', 'Mouse', 4, Decimal('915.61'), datetime.date(2024, 4, 8))
(11, 'Luis Taylor', 'Mouse', 2, Decimal('275.98'), datetime.date(2024, 11, 19))
(12, 'Thomas Gomez', 'Tablet', 2, Decimal('591.58'), datetime.date(2024, 5, 1))
(13, 'Lance Carroll', 'Laptop', 1, Decimal('204.39'), datetime.date(2024, 4, 26))
(14, 'Joshua Fields', 'Laptop', 1, Decimal('459.49'), datetime.date(2024, 3, 15))
(15, 'Christina Rivera', 'Mouse', 3, Decimal('750.71'), datetime.date(2024, 11, 25))
(16, 'Dr. Michael Dawson', 'Mouse', 2, Decimal('404.18'), datetime.date(2024, 8, 28))
(17, 'Brandy Hall', 'Laptop', 5, Decimal('722.48'), datetime.date(2024, 11, 7))
(18, 'Andrew Newton', 'Keyboard', 5, Decimal('885.48'), datetime.date(2024, 3, 27))
(19, 'Michele King', 'Laptop', 5, Decimal('448.01'), datetime.date(2024, 11, 16))
(20, 'Aimee Knight', 'Mouse', 4, Decimal('281.87'), datetime.date(2024, 9, 8))
(21, 'Rebekah Richards', 'Mouse', 4, Decimal('21.88'), datetime.date(2024, 7, 2))
(22, 'Brandon Navarro', 'Keyboard', 2, Decimal('72.35'), datetime.date(2024, 8, 18))
(23, 'Clinton Harris', 'Mouse', 5, Decimal('199.19'), datetime.date(2024, 6, 5))
(24, 'Bruce Johnson', 'Keyboard', 1, Decimal('388.94'), datetime.date(2024, 7, 21))
(25, 'Robert Clark', 'Laptop', 2, Decimal('399.28'), datetime.date(2024, 3, 11))
(26, 'Daniel Mcgrath', 'Headphones', 5, Decimal('252.22'), datetime.date(2024, 10, 9))
(27, 'William Proctor', 'Tablet', 5, Decimal('146.45'), datetime.date(2024, 3, 26))
(28, 'Joe Larson', 'Mouse', 1, Decimal('245.99'), datetime.date(2024, 5, 5))
(29, 'John Benson', 'Tablet', 1, Decimal('425.09'), datetime.date(2024, 5, 1))
(30, 'Bryce Payne', 'Smartphone', 2, Decimal('257.52'), datetime.date(2024, 10, 13))
(31, 'Natalie Haynes', 'Headphones', 4, Decimal('949.28'), datetime.date(2024, 8, 27))
(32, 'Mark Marquez', 'Headphones', 2, Decimal('520.39'), datetime.date(2024, 5, 30))
(33, 'John Maxwell', 'Smartphone', 1, Decimal('830.18'), datetime.date(2024, 3, 25))
(34, 'Andrea Harrington', 'Smartphone', 5, Decimal('334.91'), datetime.date(2024, 11, 6))
(35, 'Kevin Jefferson', 'Tablet', 1, Decimal('54.73'), datetime.date(2024, 5, 20))
(36, 'Robert Smith', 'Mouse', 3, Decimal('322.61'), datetime.date(2024, 9, 30))
(37, 'Bruce King', 'Headphones', 1, Decimal('803.93'), datetime.date(2024, 5, 21))
(38, 'Clayton Hall', 'Mouse', 2, Decimal('510.75'), datetime.date(2024, 2, 16))
(39, 'Claire Martin', 'Mouse', 3, Decimal('683.68'), datetime.date(2024, 5, 7))
(40, 'Elizabeth Jackson', 'Smartphone', 5, Decimal('466.68'), datetime.date(2024, 11, 27))
(41, 'Cameron Johnston', 'Tablet', 5, Decimal('655.12'), datetime.date(2024, 11, 10))
(42, 'Linda Valenzuela', 'Laptop', 1, Decimal('275.38'), datetime.date(2024, 11, 18))
(43, 'Dawn Smith', 'Laptop', 5, Decimal('58.14'), datetime.date(2024, 12, 5))
(44, 'Cindy Guzman', 'Keyboard', 1, Decimal('806.82'), datetime.date(2024, 7, 1))
(45, 'Stacey Woodard', 'Tablet', 5, Decimal('168.91'), datetime.date(2024, 8, 23))
(46, 'Patty Whitehead', 'Keyboard', 3, Decimal('825.26'), datetime.date(2024, 6, 24))
(47, 'Emily Porter', 'Smartphone', 5, Decimal('833.18'), datetime.date(2025, 1, 4))
(48, 'Alexander Hunt', 'Smartphone', 1, Decimal('510.76'), datetime.date(2024, 10, 10))
(49, 'Miss Rhonda Chang', 'Tablet', 1, Decimal('754.84'), datetime.date(2024, 2, 14))
(50, 'Victor Vega', 'Headphones', 1, Decimal('100.08'), datetime.date(2024, 8, 15))
(51, 'William Chavez', 'Smartphone', 1, Decimal('677.74'), datetime.date(2024, 2, 20))
(52, 'Brandon Monroe', 'Tablet', 1, Decimal('198.69'), datetime.date(2024, 12, 2))
(53, 'Valerie Malone', 'Keyboard', 3, Decimal('88.16'), datetime.date(2024, 7, 2))
(54, 'Tiffany Oconnor', 'Keyboard', 5, Decimal('303.12'), datetime.date(2024, 3, 20))
(55, 'Ryan Bates', 'Smartphone', 5, Decimal('695.26'), datetime.date(2024, 2, 27))
(56, 'Chad Patel', 'Headphones', 5, Decimal('741.49'), datetime.date(2024, 11, 23))
(57, 'Jeffrey Edwards', 'Mouse', 2, Decimal('332.49'), datetime.date(2025, 1, 4))
(58, 'Gregory Holloway', 'Keyboard', 2, Decimal('789.80'), datetime.date(2024, 10, 6))
(59, 'Michael Reyes', 'Headphones', 1, Decimal('118.20'), datetime.date(2024, 4, 28))
(60, 'Benjamin Bush', 'Laptop', 5, Decimal('394.16'), datetime.date(2025, 1, 9))
(61, 'April Cole', 'Smartphone', 3, Decimal('495.62'), datetime.date(2024, 12, 1))
(62, 'Doris Black', 'Keyboard', 5, Decimal('951.93'), datetime.date(2024, 6, 7))
(63, 'Patrick Robinson', 'Headphones', 4, Decimal('792.72'), datetime.date(2024, 2, 27))
(64, 'Scott Jones', 'Tablet', 5, Decimal('170.70'), datetime.date(2025, 1, 16))
(65, 'Doris Trujillo', 'Tablet', 3, Decimal('416.13'), datetime.date(2024, 6, 30))
(66, 'Ryan Cooper', 'Smartphone', 5, Decimal('556.51'), datetime.date(2025, 1, 14))
(67, 'Joshua Atkinson', 'Keyboard', 4, Decimal('770.36'), datetime.date(2024, 3, 7))
(68, 'Teresa White', 'Smartphone', 1, Decimal('824.60'), datetime.date(2024, 8, 21))
(69, 'Alyssa Cruz', 'Smartphone', 5, Decimal('167.46'), datetime.date(2024, 3, 26))
(70, 'Leroy Pope', 'Mouse', 2, Decimal('254.29'), datetime.date(2024, 6, 19))
(71, 'Miguel Petersen', 'Tablet', 1, Decimal('128.67'), datetime.date(2024, 8, 18))
(72, 'Melanie Campbell', 'Mouse', 4, Decimal('189.71'), datetime.date(2024, 2, 8))
(73, 'Sarah Buckley', 'Keyboard', 4, Decimal('557.86'), datetime.date(2024, 11, 3))
(74, 'Jamie Valencia', 'Keyboard', 2, Decimal('622.89'), datetime.date(2024, 2, 18))
(75, 'Joel Mitchell', 'Keyboard', 4, Decimal('695.42'), datetime.date(2024, 11, 16))
(76, 'Sarah Carr', 'Keyboard', 2, Decimal('974.07'), datetime.date(2024, 3, 15))
(77, 'Michael Rodriguez', 'Laptop', 5, Decimal('455.19'), datetime.date(2024, 10, 26))
(78, 'Traci Bryant', 'Mouse', 1, Decimal('113.37'), datetime.date(2024, 12, 6))
(79, 'Lindsey Lawrence', 'Laptop', 5, Decimal('790.82'), datetime.date(2024, 4, 12))
(80, 'Thomas Colon', 'Laptop', 1, Decimal('922.28'), datetime.date(2024, 11, 16))
(81, 'Christina Adams', 'Headphones', 2, Decimal('739.19'), datetime.date(2024, 7, 13))
(82, 'Jacob Woods', 'Mouse', 2, Decimal('149.50'), datetime.date(2024, 3, 17))
(83, 'Stephanie Wells', 'Keyboard', 4, Decimal('699.03'), datetime.date(2024, 8, 4))
(84, 'Mark Hanson', 'Keyboard', 1, Decimal('113.40'), datetime.date(2024, 11, 18))
(85, 'Susan Martin', 'Mouse', 2, Decimal('512.09'), datetime.date(2024, 7, 27))
(86, 'Andrew Beck', 'Mouse', 4, Decimal('537.54'), datetime.date(2024, 9, 8))
(87, 'Jeremy Silva', 'Keyboard', 1, Decimal('716.64'), datetime.date(2024, 8, 15))
(88, 'Mary Hampton', 'Headphones', 5, Decimal('327.96'), datetime.date(2024, 4, 27))
(89, 'Shane Boone', 'Tablet', 5, Decimal('547.71'), datetime.date(2024, 11, 9))
(90, 'Zachary Wagner', 'Tablet', 2, Decimal('968.35'), datetime.date(2024, 6, 27))
(91, 'Scott Carter', 'Keyboard', 5, Decimal('108.57'), datetime.date(2025, 1, 9))
(92, 'Jessica Lee', 'Keyboard', 3, Decimal('241.70'), datetime.date(2024, 6, 5))
(93, 'Mr. James Wright', 'Laptop', 4, Decimal('540.41'), datetime.date(2024, 9, 12))
(94, 'Megan Friedman', 'Keyboard', 2, Decimal('326.44'), datetime.date(2024, 3, 6))
(95, 'Seth Mills', 'Laptop', 1, Decimal('929.30'), datetime.date(2024, 10, 10))
(96, 'Richard Lee', 'Keyboard', 2, Decimal('794.41'), datetime.date(2024, 8, 21))
(97, 'Veronica Velazquez', 'Tablet', 3, Decimal('923.31'), datetime.date(2024, 2, 29))
(98, 'Jenny Hill', 'Mouse', 3, Decimal('922.63'), datetime.date(2024, 9, 28))
(99, 'Andrew Haynes', 'Keyboard', 2, Decimal('435.91'), datetime.date(2024, 2, 14))
(100, 'David Molina', 'Headphones', 2, Decimal('270.67'), datetime.date(2024, 11, 28))

In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dusty\appdata\local\programs\python\python313\lib\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~etuptools (C:\Users\Dusty\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\Dusty\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~etuptools (C:\Users\Dusty\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\Dusty\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~etuptools (C:\Users\Dusty\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\Dusty\AppData\Local\Programs\Python\Python313\Lib\site-packages)